/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
/* AppComponent's private CSS styles */
nav a {
  
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

body{
  margin: 0px;
}

* {
    margin: 0;
    padding: 0;
}
header {
   display: flex;
   z-index: 11;
   align-items: center;
   background-color: #24292e;
   font-weight: 100;
   font-family: Segoe UI;
}
.logo {
  padding-right: 20px;
  float: left;
}
.logo a {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 28px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}
.use {
    color: #aa064b;
}
.web {
    color: #429595; 
}
.logo p {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 13px;
    color: white;
}
.top-menu {
    width: 685px;
    float: left;
}
.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;
}
.top-menu ul li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    font-family:  "Segoe UI";
    font-size: 14px;
    color: white;
    padding: 16px;
    cursor: pointer;
}
.top-menu ul li a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    color: #bebfc1;
}
.block-top-auth {
    width: 100px;
    float: right;
    margin-right: 1em;
}
.block-top-auth p {
    margin: revert;
    text-align: center;
}
.block-top-auth a {
    text-decoration: none;
    color: white;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.block-top-auth a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    color: #00ADE4;
}
.avatar{
  width: 50px;
  margin-left: auto;
  margin-right: 1em;
  margin-top: 12px;
  text-align: center;
  margin-bottom: 8px;
  display: contents;
  
  color:white;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Segoe UI";
  font-size: 14px;
}

.avatar img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-left: auto;
}

.avatar p{
  margin: revert;
  margin-left: 5px;
  color: white;
}