<header *ngIf="isUserAuthenticated()" class="header">

    <div class="logo">
     <a href="index.html">
     </a>    
    </div>  
  
    <app-user-search></app-user-search>
    <div class="top-menu">
      <ul>
          <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/projects">Projects</a></li>
      </ul>  
    </div> 
  
  
    <a class="avatar" [routerLink]="['users', user.id]">
      <img src="{{photoBase64}}">
      <p>{{user.username}}</p>
    </a>
  
    <div class="block-top-auth">
      <p *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></p>  
      <p *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Logout</a></p>  
    </div>  
      
  </header>
