<h2>My Users</h2>
<button (click)="sort()">
  <span *ngIf="!reverse">↓</span>
  <span *ngIf="reverse">↑</span>
</button>
<ul class="users">
  <li *ngFor="let user of users; let i = index">
    <a [routerLink]="[user.id]">
      <span class="badge">{{i+1}}</span> {{user.username}}
    </a>
    <button class="delete" title="delete user"
      (click)="delete(user)">x</button>
  </li>
</ul>
<div>
  <label>User name:
    <input #userName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <select #roleId class="form-control" required>
    <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
  </select>
  <button (click)="add(userName.value, roleId.value); userName.value=''">
    add
  </button>
</div>