/* HeroSearch private styles */
.search-result li {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 218px;
    height: 26px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
  }

  .search-result li:nth-of-type(1n+8) {
    display: none;
  }

  .search-result ul {
    column-count: 3;
    background: chartreuse;
  }
  
  .search-result li:hover {
    background-color: #0366d6;
  }
  
  .search-result li a {
    color: #888;
    display: block;
    text-decoration: none;
    padding: 5px;
  }
  
  .search-result li a:hover {
    color: white;
  }

  #search-box {
    outline: none;
    padding: 5px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: #3f4448;
    color: #ffffff;
    border: none;
    width: 200px;
    height: 20px;
  }
  
  #search-box::-webkit-input-placeholder { 
    color: #cfd0d1;
  }

  #search-box:focus-within{ 
    background-color: #fafbfc;
    color: #666;
  }

  ul.search-result {
    display: none;
    padding: 0;
    margin: 0;
    margin-top: -7px;
    z-index: 5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    position: absolute!important;
  }

  #search-box:focus-within::placeholder {
    color: #586069
  }

  .search-component {
    padding: 5px;
  }
  
  .search-component:focus-within ul.search-result {
    display: block;
  }

  
  