<div id="search-component" class="search-component">
  <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search for users" autocomplete="off"/>

  <ul *ngIf="searchBox.value" ngClass="search-result">
    <li *ngFor="let user of users">
      <a routerLink="users/{{user.id}}" (click)="searchBox.value=''">
        {{user.username}}
      </a>
    </li>
  </ul>
</div>