.projects {
  margin: 10px;
  list-style-type: none;
  padding: 0;
  width: 18em;
}
.projects li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 25px;
  border-radius: 4px;
}

.projects li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.projects a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
  text-align: left;
  
}

.projects a:hover {
  color: #607D8B;
}

.projects .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  float: left;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.newProject{
  display: flex;
  align-items: center;
  margin: 5px;
}

button {
  float: left;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: -3px;
  top: -20px;
  background-color: gray !important;
  color: white;
  float: right;
}

.add{
  margin-left: 10px;
}