<div>
  <div class="newProject">
    <label>Project name:
      <input #projectName />
    </label>
    <button class="add" (click)="addProject(projectName.value); projectName.value=''">
      add
    </button>
  </div>
  <div *ngIf="projects">
    <h2>Projects</h2>
    <ul class="projects">
      <li *ngFor="let project of projects; let i = index">
        <a [routerLink]="[project.id]">
          <span class="badge">{{i+1}}</span> {{project.name}}
        </a>
        <button class="delete" title="delete project"
          (click)="delete(project)">x</button>
      </li>
    </ul>
  </div>
</div>