<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form [formGroup]="registerForm" #formDir="ngForm" autocomplete="off" (ngSubmit)="register(formDir)">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>

			<input class="form-control" formControlName="username" placeholder="User Name" required>
			<div *ngIf="username.invalid && (username.dirty || username.touched)"
				class="alert alert-danger">
				<div *ngIf="username.errors.required">
					Username is required
				</div>
				<div *ngIf="username.errors.minlength">
					Username must be at least 4 characters long
				</div>
				<div *ngIf="username.errors?.uniqueUsername">
					Username is already taken
				</div>
			</div>

            <input formControlName="password" type="password" name="password" class="form-control" placeholder="Password">
			<div *ngIf="password.invalid && (password.dirty || password.touched)"
				class="alert alert-danger">
				<div *ngIf="password.errors.required">
					Password is required
				</div>
				<div *ngIf="password.errors.hasNumber">
					Password must contain numbers
				</div>
				<div *ngIf="password.errors.hasCapitalCase">
					Password must contain capital letter
				</div>
				<div *ngIf="password.errors.hasLowerCase">
					Password must contain lowercase letter
				</div>
				<div *ngIf="password.errors.minlength">
					Password must be at least 6 characters long
				</div>
			</div>

            <input formControlName="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm password">
			<div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
				class="alert alert-danger">
				<div *ngIf="confirmPassword.errors.required">
					ConfirmPassword is required
				</div>
				<div *ngIf="confirmPassword.errors.NoPassswordMatch">
					Passwords must comparing
				</div>
			</div>
			
			<button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)" autocomplete="off">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" name="username" ngModel class="form-control" placeholder="User Name" required autofocus>
			<input type="password" name="password" ngModel class="form-control" placeholder="Password" required>
			<a href="#">Forgot your password?</a>
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
