/* ProjectsComponent's private CSS styles */
.horizont-container {
  display: flex;
  align-items: center;
} 

.horizont-container .right-align {
  float: right;
  margin-right: 1em;
  margin-left: auto;
  display: flex;
  align-items: center;
}

button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }

.main-container{
  padding-top: 40px;
  min-height: 100px;
  float: none;
  clear: both;
}
.main-container, .container {
  min-width: 240px;
}

.main-container, .container {
  position: relative;
  margin-right: 15%;
  margin-left: 15%;
}

.block{
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  padding: 10px;
  margin-bottom: 20px;
}

.avatarBlock{
  text-align: center;
}

.photo{
  margin:10px;
  width: 150px;
  height: 150px;
}

.info{
  text-align: left;
}

.name{
  text-align: left;
  padding: 10px;
  padding-left: 20px; 
  font-family: "Segoe UI";
  font-weight: lighter;
}

h2{
  margin: 0;
}

.projects{
  margin-top: 20px;

}

.left-sidebar{
  margin-right: 260px;
    text-overflow: ellipsis;
}

.right-sidebar{
  text-overflow: ellipsis;
  text-align: center;
  width: 245px;
  float: right;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.inputPhoto{
  max-width: 100%;
}

.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.users li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;    
  height: 26px;
  border-radius: 4px;
}

.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.users a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: flex;
}

.users a:hover {
  color: #607D8B;
}

.users .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  display: flex;
  left: 166px;
  top: -33px;
  background-color: gray !important;
  color: white;
}

.username-input{
  display: contents;
}







.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 218px;
  height: 26px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:nth-of-type(1n+4) {
  display: none;
}

.search-result ul {
  column-count: 3;
  background: chartreuse;
}

.search-result li:hover {
  background-color: #0366d6;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
  padding: 5px;
  z-index: 10;
}

.search-result li a:hover {
  color: white;
}

#search-box::-webkit-input-placeholder { 
  color: #cfd0d1;
}

#search-box:focus-within{ 
  background-color: #fafbfc;
  color: #666;
}

ul.search-result {
  display: none;
  padding: 0;
  margin: 0;
  margin-top: -7px;
  z-index: 5;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  position: absolute!important;
}

#search-box:focus-within::placeholder {
  color: #586069
}

.search-component {
  padding: 5px;
}

.search-component:focus-within ul.search-result {
  display: block;
}

.add{
  margin-left: 10px;
}