<div class="page">
    <div *ngIf="project" class="main-container row">
      <div class="right-sidebar">
        <div class="block info">
          <div >
            <div><span>id: </span>{{project.id}}</div>
            <div>
              <label>name:
                <input [(ngModel)]="project.name" placeholder="name"/>
              </label>
            </div>
            <button (click)="saveProject()">save</button>
          </div>
        </div>

        <div *ngIf="selectedUser" class="block info">
          <h4>User</h4>
          <div><span>id: </span>{{selectedUser.id}}</div>
          <div><span>Name: </span>{{selectedUser.username}}</div>
          <div>
            <label>role:
              <select [ngModel]="selectedRole" (ngModelChange)="onChangeRole($event)">
                <option [ngValue]="role.id" *ngFor="let role of roles">{{role.name}}</option>
              </select>
            </label>
          </div>
          <button (click)="saveUserInProject()">save</button>
        </div>
      </div>

      
      <div class="left-sidebar">
        <div class="block name">
          <h2>{{project.name}}</h2>
        </div>
        <div class="block projects">
          <div class="horizont-container">
            <h2>Users</h2>
            <div class="right-align">
              <label class="username-input">Username:
                <div id="search-component" class="search-component">
                  <input #username id="search-box" (input)="search(username.value)" placeholder="Search for users" autocomplete="off"/>
                  
                  <ul *ngIf="username.value" ngClass="search-result">
                    <li *ngFor="let user of foundUsers">
                      <a #newUser (mousedown)="username.value=newUser.innerText; search(newUser.innerText)">{{user.username}}</a>
                    </li>
                  </ul>
                </div>
              </label>
              <label>role:
                <select [ngModel]="selectedRoleNewUser" (ngModelChange)="onChangeRoleNewUser($event)">
                  <option [ngValue]="role.id" *ngFor="let role of roles">{{role.name}}</option>
                </select>
              </label>
              <button class="add" (click)="addUserInProject(username.value); username.value=''">
                add
              </button>
              
            </div>
          </div>
          <ul class="users">
            <li *ngFor="let user of users; let i = index">
              <a (click)="onUserChange(user)">
                <span class="badge">{{i+1}}</span> {{user.username}}
              </a>
              <button class="delete" title="delete user"
                (click)="delete(user)">x</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  