<div class="page">
  <div *ngIf="user" class="main-container row">
    <div class="left-sidebar ">
      <div class="block avatarBlock">
        <img src="{{photoBase64}}" class="photo">
        <div >
          <input class="inputPhoto" type="file" (change)="onFileSelected($event)" >
          <button type="button" (click)="onUpload()">Upload</button>
          <button type="button" (click)="deletePhoto()">Delete</button>
        </div>
      </div>
      <div class="block info">
        <div >
          <div><span>id: </span>{{user.id}}</div>
          <div>
            <label>name:
              <input [(ngModel)]="user.username" placeholder="name"/>
            </label>
          </div>
          <button (click)="save()">save</button>
        </div>
        <div>
          <app-image-compress></app-image-compress>
        </div>
      </div>
    </div>
    
    <div class="right-sidebar">
      <div class="block name">
        <h2>{{user.username}}</h2>
      </div>
      <div class="block projects">
        <app-projects></app-projects>
      </div>
    </div>
  </div>
</div>
