/* ProjectsComponent's private CSS styles */
 
  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }

.main-container{
  padding-top: 40px;
  min-height: 100px;
  float: none;
  clear: both;
}
.main-container, .container {
  min-width: 240px;
}

.main-container, .container {
  position: relative;
  margin-right: 15%;
  margin-left: 15%;
}

.block{
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  padding: 10px;
}

.avatarBlock{
  text-align: center;
}

.photo{
  margin:10px;
  width: 150px;
  height: 150px;
}

.info{
  margin-top: 20px;
  text-align: left;
}

.name{
  text-align: left;
  padding: 10px;
  padding-left: 20px; 
  font-family: "Segoe UI";
  font-weight: lighter;
}

h2{
  margin: 0;
}

.projects{
  margin-top: 20px;

}

.left-sidebar{
  width: 245px;
  float: left;
}

.right-sidebar{
  margin-left: 260px;
  text-overflow: ellipsis;
  text-align: center;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.inputPhoto{
  max-width: 100%;
}