<div *ngIf="messageService.messages.length" class="messages">
  <div *ngFor='let message of messageService.messages'> 
    <div [ngSwitch]="message.type">
      <div *ngSwitchCase="'success'" class="alert-simple alert-success second">
        <span class="closebtn success-cross" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Success!</strong> {{message.text}}
      </div>
      <div *ngSwitchCase="'info'" class="alert-simple alert-info second">
        <span class="closebtn info-cross" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Info!</strong> {{message.text}}
      </div>
      <div *ngSwitchCase="'warning'" class="alert-simple alert-warning second">
        <span class="closebtn warning-cross" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Warning!</strong> {{message.text}}
      </div>
      <div *ngSwitchCase="'danger'" class="alert-simple alert-danger second">
        <span class="closebtn danger-cross" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Danger!</strong> {{message.text}}
      </div>
      <div *ngSwitchCase="'primary'" class="alert-simple alert-primary second">
        <span class="closebtn primary-cross" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Primary!</strong> {{message.text}}
      </div>
    </div>
  </div>
</div>