/* MessagesComponent's private CSS styles */

  .messages{
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
  }
  
  .second {
    animation: fade2 6s 3s forwards;
  }
  
  .second:hover {
    animation: 0;
  }
  
  @keyframes fade2 {
    0% {
      opacity: 1;
      visibility: visible;
    }
    10% {
      opacity: 0;
      visibility: hidden;
      position: relative;
    }
    100% {
      opacity: 0;
      height: 0px;
      margin: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      visibility: collapse;
      display: none !important;
    }
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert-simple{
  margin-top: 5px;
  padding: 15px;
  transition: 0.5s;
  cursor: pointer;
  max-width: 350px;
}

.alert-success {
  border: 1px solid rgba(36, 241, 6, 0.46);
  background-color: rgba(7, 149, 66, 0.122);
  box-shadow: 0px 0px 2px #259c08;
  color: #0ad406;
}

.alert-success:hover
{
  background-color: rgba(7, 149, 66, 0.192);
  transition:0.5s;
}

.success-cross
{
  color: rgba(7, 149, 66, 0.26);
}

.success-cross:hover
{
  color: rgba(7, 149, 66, 0.493);
}

.alert-info
{
  border: 1px solid rgba(6, 44, 241, 0.46);
  background-color: rgba(7, 73, 149, 0.12156862745098039);
  box-shadow: 0px 0px 2px #0396ff;
  color: #0396ff;
}

.alert-info:hover
{
  background-color: rgba(7, 73, 149, 0.185);
  transition:0.5s;
}

.info-cross
{
  color: rgba(7, 73, 149, 0.295);
}

.info-cross:hover
{
  color: rgba(7, 73, 149, 0.507);
}

.alert-warning
{
  border: 1px solid rgba(241, 142, 6, 0.81);
  background-color: rgba(220, 128, 1, 0.16);
  box-shadow: 0px 0px 2px #ffb103;
  color: #ffb103;
}

.alert-warning:hover{
  background-color: rgba(220, 129, 1, 0.199);
  transition:0.5s;
}

.warning-cross
{
  color: rgba(220, 129, 1, 0.267);
}

.warning-cross:hover
{
  color: rgba(220, 129, 1, 0.486);
}

.alert-danger {
  border: 1px solid rgba(241, 6, 6, 0.81);
  background-color: rgba(220, 17, 1, 0.16);
  box-shadow: 0px 0px 2px #ff0303;
  color: #ff0303;
}

.alert-danger:hover
{
  background-color: rgba(220, 16, 1, 0.199);
  transition:0.5s;
}

.danger-cross
{
  color: rgba(220, 16, 1, 0.315);
}

.danger-cross:hover
{
  color: rgba(220, 16, 1, 0.486);
}

.alert-primary
{
  border: 1px solid rgba(6, 241, 226, 0.81);
  background-color: rgba(1, 204, 220, 0.16);
  box-shadow: 0px 0px 2px #03fff5;
  color: #03d0ff;
}

.alert-primary:hover{
  background-color: rgba(1, 205, 220, 0.199);
  transition:0.5s;
}

.primary-cross
{
  color: rgba(1, 205, 220, 0.281);
}

.primary-cross:hover
{
  color: rgba(1, 205, 220, 0.507);
}