<h3>Top Users</h3>
<div class="grid grid-pad">
  <a *ngFor="let user of users" class="col-1-4"
      routerLink="/users/{{user.id}}">
    <div class="module user">
      <h4>{{user.username}}</h4>
    </div>
  </a>
</div>